.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 50%;
  min-width: 350px;
  display: grid;
  place-content: center;
}

@media only screen and (max-width: 748px) {
  .item {
    margin-bottom: 80px !important;
  }
}

@media only screen and (max-width: 460px) {
  .item {
    flex: 100%;
  }
}
